[submodule "cores/nRF5/TinyUSB/Adafruit_TinyUSB_ArduinoCore"]
	path = cores/nRF5/TinyUSB/Adafruit_TinyUSB_ArduinoCore
	url = https://github.com/adafruit/Adafruit_TinyUSB_ArduinoCore.git
[submodule "libraries/USB_Host_Shield_2.0"]
	path = libraries/USB_Host_Shield_2.0
	url = git@github.com:ubmk/USB_Host_Shield_2.0.git
